/* 放在head

    <!-- favicon 標籤頁logo -->
    <!-- 新版 favicon (SVG) -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    
    <!-- 備用 favicon (PNG/ICO) 給不支援的瀏覽器 -->
    <link rel="alternate icon" type="image/x-icon" href="/favicon.ico">
    <!-- 引入CSS -->
    <link rel="stylesheet" href="/styles_bg.css">

原白色:bg-gray-50 
*/

.bg-FFE8CC {
    --tw-bg-opacity: 1;
    background-color: rgb(255 232 204 / var(--tw-bg-opacity, 1));
}


.bg-dark-green {
    --tw-bg-opacity: 1;
    background-color: rgb(0 143 23 / 52%);
}

.btn-bg-red {
    --tw-bg-opacity: 1;
    background-color: rgb(246 59 59);
}
